body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  color: #000000;
  text-align: left;
}

header {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.244); /* X-offset, Y-offset, Blur-radius, Color */
  padding-left: 1em;
  background-color: #bc002d;
  padding: 20px;
  text-align: left;
}

.texts p {
  padding: 0 2em 1em 2em;
  font-size: 1.3em;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}
h3 {
  font-size: 23px;
}

section.texts {
  padding: 0 1em 0 1em;
  text-align: justify;
}

.jdm_info {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

.car-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
}

.car-tabs a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 10px;
}
.car-tabs a p {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 13px #bc002c92;
}

.car-tabs img {
  min-width: 440px;
  max-width: 480px;
  border-radius: 10px;
}

.car-info {
  text-align: center;
  margin-top: 20px;
}

.car-info a {
  text-decoration: none;
  color: #bc002d;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.car-info img {
  width: 100%;
  max-width: 620px;
  border-radius: 10px;
}

.car-info .description {
  font-size: 1.3em;
  padding: 0 8em 1em 8em;
  text-shadow: 4px 4px 7px rgba(90, 90, 90, 0.624);
}

.car-info .pop {
  font-size: 1.3em;
  padding: 0 8em 1em 8em;
  text-shadow: 4px 4px 7px rgba(90, 90, 90, 0.624);
}

.back-btn {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background-color: #bc002d;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.end_text {
  font-size: 1.3em;
  padding: 0 1.4em 0 1.4em;
  text-align: justify;
}

footer {
  padding: 0em 2em;
  font-size: 12px;
}
